<dialog aria-labelledby="shareBadgeDialog"
				aria-describedby="dialog1Desc"
				class="dialog dialog-is-active l-dialog"
				role="dialog"
>

	<div class="l-dialog o-container" open>
		<div class="dialog dialog-small dialog-clean dialog-is-active">
			<div class="dialog-x-box">
				<div class="backgroundgraphic backgroundgraphic-large">
					<div class="l-flex l-flex-justifyend u-responsivepadding-xaxis u-responsivepadding-yaxis">
						<button class="buttonicon buttonicon-linklight">
							<svg>
								<use xlink:href="/images/icons.svg#icon_close"></use>
							</svg>
							<span class="visuallyhidden">Close</span>
						</button>
					</div>
					<div class="u-padding-bottom6x">
						<div class="progresstracker ">
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-complete">

                            <span class="progresstrackeritem-x-status">
    <span>
      Complete
      <svg>
        <use xlink:href="/images/icons.svg#icon_complete"></use>
      </svg>
    </span>
                            </span>

								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Step 1
									</h3>
									<p>Download your ZIP file</p>
								</div>
							</div>
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-complete">

                            <span class="progresstrackeritem-x-status">
    <span>
      In progress
      <svg>
        <use xlink:href="/images/icons.svg#icon_complete"></use>
      </svg>
    </span>
                            </span>

								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Step 2
									</h3>
									<p>Access Badgr</p>
								</div>
							</div>
							<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-inprogress">

                            <span class="progresstrackeritem-x-status">
    <span>
      Not started
      <svg>
        <use xlink:href="/images/icons.svg#icon_more"></use>
      </svg>
    </span>
                            </span>

								<div class="progresstrackeritem-x-text">
									<h3 class="progresstrackeritem-x-texttitle">
										Step 3
									</h3>
									<p>Upload your badges</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="u-responsivepadding-xaxis u-responsivepadding-yaxis">

					<h1 class="u-text-h3 u-margin-bottom2x"><span class="u-text-bold">Step 3:</span> Upload your badges</h1>
					<p class="u-text u-margin-bottom6x">Your badges are in the zip file from Mozilla.</p>

					<ng-template [ngIf]="noManifestError">
						<div class="l-flex l-flex-1x">
							<svg class="icon icon-error"><use xlink:href="/images/icons.svg#icon_error"></use></svg>
							<p class="u-text-body-bold u-text-dark1">Oops!</p>
						</div>
						<p class="u-text-small u-text-error u-margin-yaxis1x">That’s not the file from Mozilla. Please try again.</p>
					</ng-template>

					<ng-template [ngIf]="serverError">
						<div class="l-flex l-flex-1x">
							<svg class="icon icon-error"><use xlink:href="/images/icons.svg#icon_error"></use></svg>
							<p class="u-text-body-bold u-text-dark1">Oops!</p>
						</div>
						<p class="u-text-small u-text-error u-margin-yaxis1x">{{serverError}}</p>
					</ng-template>

					<form
						[formGroup]="csvForm"
						class
					>
						<fieldset>
							<bg-formfield-file
								#zipFileField
								[name]="'ZipFile'"
								label="ZipFile"
								[validFileTypes]="'application/octet-stream, .zip'"
								[control]="csvForm.controls['zipFile']"
								[placeholderImage]="csvUploadIconUrl"
								(change)="fileChanged($event)"
							>
							</bg-formfield-file>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</div>


</dialog>
