<dialog aria-labelledby="shareBadgeDialog"
				aria-describedby="dialog1Desc"
				class="dialog dialog-is-active l-dialog"
				role="dialog"
>

<div class="l-flex l-flex-justifycenter">
	<div class="shadowcontainer shadowcontainer-small">
		<div class="backgroundgraphic backgroundgraphic-large">
			<div class="u-responsivepadding-yaxislarge">
				<div class="progresstracker ">
					<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-complete">
						<span class="progresstrackeritem-x-status">
							<span>
								Complete
								<svg>
									<use xlink:href="/images/icons.svg#icon_complete"></use>
								</svg>
							</span>
						</span>
						<div class="progresstrackeritem-x-text">
							<h3 class="progresstrackeritem-x-texttitle">
								Step 1
							</h3>
							<p>Download your ZIP file</p>
						</div>
					</div>
					<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-inprogress">
						<span class="progresstrackeritem-x-status">
							<span>
								In progress
								<svg>
									<use xlink:href="/images/icons.svg#icon_more"></use>
								</svg>
							</span>
						</span>
						<div class="progresstrackeritem-x-text">
							<h3 class="progresstrackeritem-x-texttitle">
								Step 2
							</h3>
							<p>Access Badgr</p>
						</div>
					</div>
					<div class="progresstrackeritem progresstrackeritem-basic progresstrackeritem-is-empty">
						<span class="progresstrackeritem-x-status">
							<span>
								Not started
								<svg>
									<use xlink:href="/images/icons.svg#"></use>
								</svg>
							</span>
						</span>
						<div class="progresstrackeritem-x-text">
							<h3 class="progresstrackeritem-x-texttitle">
								Step 3
							</h3>
							<p>Upload your badges</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="u-responsivepadding-xaxis u-responsivepadding-yaxis">
			<h1 class="u-text-h3 u-margin-bottom4x"><span class="u-text-bold">Step 2:</span> Access Badgr</h1>
			<div class="l-flex l-flex-2x l-flex-column l-flex-aligncenter">
				<button class="button button-full">Create Account</button>
				<button class="button button-secondary button-full">Sign In</button>
			</div>
		</div>
	</div>
</div>

</dialog>
