<div class="heading heading-small">
	<div class="heading-x-text">
		<label class="label-formfield" for="date">Expiration Date:</label>
			<h1>
				January 1, 2019
				<button class="heading-x-edit" type="button" tabindex="0">Edit</button>
			</h1>
		
	</div>
</div>

<script>
	document.querySelector('button').onclick = function (e) { 
		e.target.parentNode.innerHTML = "<input type='date' name='date' value='2019-01-01'>"; 
	}
</script>