<dialog class="dialog dialog-titled wrap wrap-light">
	<!-- Header -->
	<header class="dialog-x-titlebar">
		<h1>{{ options.title }}</h1>
		<button class="dialog-x-close" (click)="closeDialog()">
			<span class="icon icon-notext icon-close">Close</span>
		</button>
	</header>

	<!-- Tab Navigation Bar -->
	<nav class="l-tabs" aria-labelledby="nav-tabs" role="navigation">
		<h3 class="visuallyhidden" id="nav-tabs"> Tabs</h3>
		<button class="tab"
						[class.tab-is-active]="currentTabId == 'link'"
						(click)="openTab('link')"
		>
			<span class="visuallyhidden">Open </span>Link<span class="visuallyhidden"> tab</span>
		</button>
		<button class="tab"
						[class.tab-is-active]="currentTabId == 'social'"
						(click)="openTab('social')"
		>
			<span class="visuallyhidden">Open </span>Social<span class="visuallyhidden"> tab</span>
		</button>
		<button class="tab"
						[class.tab-is-active]="currentTabId == 'embed'"
						(click)="openTab('embed')"
						*ngIf="hasEmbedSupport"
		>
			<span class="visuallyhidden">Open </span>Embed<span class="visuallyhidden"> tab</span>
		</button>
	</nav>

	<!-- Link Tab -->
	<div class="l-sharepane" tabindex="-1" id="sharelink" *ngIf="currentTabId == 'link'">
		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>
			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop  l-marginTop-2x ">
				<label class="formcheckbox" for="form-checkbox">
					<input name="form-checkbox" id="form-checkbox" type="checkbox" [(ngModel)]="includeRecipientIdentifier"
								 (ngModelChange)="updateEmbedHtml()">
					<span
						class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Identifier: {{ options.recipientIdentifier }}</span>
				</label>
			</div>
		</div>

		<div class="formfield formfield-link">
			<label class=" " for="link-input">Copy this private URL to share:</label>
			<input id="link-input"
						 name="link-input"
						 type="text"
						 [value]="currentShareUrl"
						 (click)="$event.target.select()"
						 readonly
						 #urlInput
			>
		</div>
		<div class="l-childrenhorizontal l-childrenhorizontal-spacebetween">
			<div class="l-childrenhorizontal l-childrenhorizontal-small" *ngIf="options.versionOptions">
				<div class="formradiobutton" *ngFor="let version of options.versionOptions; let i = index">
					<input type="radio"
								 [value]="version"
								 [(ngModel)]="selectedVersion"
								 name="version-{{ i }}"
								 id="version-{{ i }}"
								 #urlInput
					/>
					<label for="version-{{ i }}">
						<span><span></span></span>
						<span class="formradiobutton-x-text">{{ version.label }}</span>
					</label>
				</div>
			</div>

			<button type="button"
							class="button"
							(click)="copyToClipboard(urlInput)"
							[hidden]="! copySupported"
			>Copy
			</button>
		</div>
		<div class="l-sharepane-x-preview wrap wrap-light4 wrap-rounded" *ngIf="options.versionInfoTitle">
			<p class="text text-small"><strong>{{ options.versionInfoTitle }}</strong></p>
			<p class="text text-small">{{ options.versionInfoBody }}</p>
		</div>
		<div class="l-childrenhorizontal l-childrenhorizontal-right">
			<a class="standaloneanchor" [href]="currentShareUrl" target="_blank">Open in New Window</a>
		</div>
	</div>

	<!-- Social Tab -->
	<div class="l-sharepane l-sharepane-social"
			 tabindex="-1"
			 id="sharelinksocial"
			 *ngIf="currentTabId == 'social'"
	>
		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>

			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop l-marginTop-2x">
				<label class="formcheckbox"
							 for="form-checkbox"
				>
					<input name="form-checkbox"
								 id="form-checkbox"
								 type="checkbox"
								 [(ngModel)]="includeRecipientIdentifier"
								 (ngModelChange)="updateEmbedHtml()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">
								Include Recipient Identifier: {{ options.recipientIdentifier }}
							</span>
				</label>
			</div>
		</div>

		<div class="l-authbuttons">
			<div *ngIf="displayShareServiceType('Facebook')">
				<button class="buttonauth buttonauth-facebook"
								type="button"
								(click)="openShareWindow('Facebook')"
				>Facebook
				</button>
			</div>
			<div *ngIf="displayShareServiceType('LinkedIn')">
				<button class="buttonauth buttonauth-linkedin_oauth2"
								type="button"
								(click)="openShareWindow('LinkedIn')"
				>LinkedIn
				</button>
			</div>
			<div *ngIf="displayShareServiceType('Twitter')">
				<button class="buttonauth buttonauth-twitter"
								type="button"
								(click)="openShareWindow('Twitter')"
				>Twitter
				</button>
			</div>
			<div *ngIf="displayShareServiceType('Pinterest')">
				<button class="buttonauth buttonauth-pinterest"
								type="button"
								(click)="openShareWindow('Pinterest')"
				>
				</button>
			</div>
		</div>
	</div>

	<!-- Embed Tab -->
	<div class="l-sharepane"
			 tabindex="-1"
			 id="sharelinkembed"
			 *ngIf="currentTabId == 'embed'"
	>
		<div class="l-childrenhorizontal l-childrenhorizontal-small"
				 *ngIf="options.embedOptions.length > 1"
		>
			<div class="formradiobutton" *ngFor="let embedOption of options.embedOptions; let i = index">
				<input type="radio"
							 name="embed-type-{{i}}"
							 id="embed-type-{{i}}"
							 [value]="embedOption"
							 [(ngModel)]="selectedEmbedOption"
							 (ngModelChange)="updateEmbedHtml()"
				/>
				<label for="embed-type-{{i}}">
					<span><span></span></span>
					<span class="formradiobutton-x-text">{{ embedOption.label }}</span>
				</label>
			</div>
		</div>

		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>
			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop  l-marginTop-2x ">

				<label class="formcheckbox" for="form-checkbox">
					<input name="form-checkbox"
								 id="form-checkbox"
								 type="checkbox"
								 [(ngModel)]="includeRecipientIdentifier"
								 (ngModelChange)="updateEmbedHtml()"
					/>
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">
								Include Recipient Identifier: {{ options.recipientIdentifier }}
							</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption?.embedType == 'image'" class="formcheckbox" for="form-checkbox1">
					<input name="form-checkbox"
								 id="form-checkbox1"
								 type="checkbox"
								 [(ngModel)]="includeBadgeClassName"
								 (ngModelChange)="updateEmbedHtml()"
					/>
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Badge Name</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption?.embedType == 'image' && selectedEmbedOption.embedRecipientName"
							 class="formcheckbox"
							 for="form-checkbox2"
				>
					<input name="form-checkbox2"
								 id="form-checkbox2"
								 type="checkbox"
								 [value]="includeRecipientName"
								 [(ngModel)]="includeRecipientName"
								 (change)="updateEmbedHtml()"
					/>
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Name</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption?.embedType == 'image'"
							 class="formcheckbox"
							 for="form-checkbox5"
				>
					<input name="form-checkbox5"
								 id="form-checkbox5"
								 type="checkbox"
								 [(ngModel)]="includeAwardDate"
								 (change)="updateEmbedHtml()"
					/>
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Date Awarded</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption?.embedType == 'image'" class="formcheckbox" for="form-checkbox6">
					<input name="form-checkbox6"
								 id="form-checkbox6"
								 type="checkbox"
								 [(ngModel)]="includeVerifyButton"
								 (change)="updateEmbedHtml()"
					/>
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Verification</span>
				</label>
			</div>
		</div>

		<p class="label-formfield">Preview</p>
		<div class="l-sharepane-x-preview wrap wrap-light4 wrap-rounded">
			<iframe src="about:blank"
							class="previewIframe"
							style="width: 100%"
			></iframe>
		</div>

		<div class="formfield formfield-limitedtextarea formfield-monospaced">
			<label class=" " for="emebed-code-box">Embed Code</label>
			<textarea id="emebed-code-box"
								name="emebed-code-box"
								readonly
								[value]="currentEmbedHtml"
								(click)="$event.target.select()"
								#embedHtmlInput
			></textarea>
		</div>

		<div class="l-childrenhorizontal l-childrenhorizontal-right">
			<button class="button"
							type="button"
							[hidden]="! copySupported"
							(click)="copyToClipboard(embedHtmlInput)"
			>Copy
			</button>
		</div>

	</div>
</dialog>
