<ng-container *bgAwaitPromises="[profileLoaded]">
	<form-message></form-message>

	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<div class="breadcrumbs breadcrumbs-subtle">
					<a [routerLink]="['/profile/profile']">Profile</a>
					<span>/</span>
					<span>Edit Profile Name</span>
				</div>
			</div>
			<div class="topbar-x-heading">
				Edit Profile Name
			</div>
		</div>
	</div>

	<div class="l-containerxaxis l-containeryaxis">
		<form [formGroup]="profileEditForm" (ngSubmit)="submitEdit(profileEditForm.getRawValue())" class="l-form" novalidate>
			<div class="u-width-form">
				<bg-formfield-text [control]="profileEditForm.controls.firstName" [label]="'First Name'" [errorMessage]="'Please enter your first name'"
				 class="u-margin-bottom2x forminput-large">
				</bg-formfield-text>

				<bg-formfield-text [control]="profileEditForm.controls.lastName" [label]="'Last Name'" [errorMessage]="'Please enter your last name'"
				 class="u-margin-bottom4x forminput-large"></bg-formfield-text>
			</div>

			<div class="l-flex l-flex-1x">
				<a class="button button-secondary" [routerLink]="['profile']" [disabled-when-requesting]="true">Cancel</a>
				<button type="submit" 
						class="button" 
						(click)="validateEditForm($event)"
						[disabled-when-requesting]="true"
					>
					Save
				</button>
			</div>
		</form>
	</div>
</ng-container>
