<section class="wrap l-containerhorizontal">
	<div class="select-csvUpload">
		<div class="importHeading">
			<h1 class=title>Map CSV Columns</h1>
			<p *ngIf="importPreviewData?.rows">
				Below is a preview of the first {{ (importPreviewData.rows.length < MAX_ROWS_TO_DISPLAY) ?
				 importPreviewData.rows.length : MAX_ROWS_TO_DISPLAY}} of {{importPreviewData.rows.length}} rows in your file. For
				 each column in the table below, choose the heading from the dropdown that matches the data in your CSV. </p> </div>
				 <table class="table table-import">
					<thead>
						<tr>
							<th scope="col" *ngFor="let columnHeaderName of importPreviewData.columnHeaders; let columnId = index;">
								<label class="select select-inputonly select-import">
									<span>Sort by</span>
									<select name="select" [id]="'select'+columnId" #selectDest [value]=columnHeaderName.destColumn (change)="mapDestNameToSourceName(columnId,selectDest.value)">
										<option value="NA">N/A</option>
										<option value="email">Email</option>
										<option value="evidence">Evidence URL</option>
									</select>
								</label>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td *ngFor="let columnHeaderName of importPreviewData.columnHeaders">
								{{ columnHeaderName.sourceName }}
							</td>
						</tr>
						<tr *ngFor="let row of importPreviewData?.rows.slice(0,MAX_ROWS_TO_DISPLAY)">
							<td *ngFor="let cell of row">
								{{ cell}}
							</td>
							<ng-template [ngIf]="row.length < columnHeadersCount">
								<td *ngFor="let spacer of createRange(columnHeadersCount-row.length)"></td>
							</ng-template>
						</tr>
					</tbody>
					</table>
		</div>

		<!-- BUTTONS -->
		<div class="l-display-flex l-childrenhorizontal-right l-marginTop-4x l-marginBottom-4x">
			<button class="button button-primaryghost" (click)="updateViewState('import')">cancel</button>

			<button class="button l-marginLeft-x2" [class.button-is-disabled]=buttonDisabledClass [attr.disabled]=buttonDisabledAttribute
			 (click)="generateImportPreview()">continue</button>
		</div>
</section>

<div *ngIf="rowIsLongerThanHeader">
	<div class="l-formmessage formmessage formmessage-is-error formmessage-is-active">
		<p>The CSV uploaded contains row lengths longer then its header lengths. Please correct this error and try again.</p>
		<!--<button type="button" (click)="rowIsLongerThanHeader = false">Dismiss</button>-->
	</div>
</div>
