<dialog class="l-dialog o-container" open="">
	<div class="dialog dialog-is-active">
		<div class="dialog-x-box">
		  <div class="dialog-x-header">
			<h1>{{ options.title }}</h1>
			<button class="buttonicon" (click)="closeDialog()">
			  <svg icon="icon_close"></svg>
			  <span class="visuallyhidden">Close</span>
			</button>
		  </div>
  
		  <div class="tabbar">
			  <button class="tab tab-indialog"
			  [class.tab-is-active]="currentTabId == 'link'"
				(click)="openTab('link')">Link</button>
			  <button class="tab tab-indialog" 
			  [class.tab-is-active]="currentTabId == 'social'"
				(click)="openTab('social')">Social</button>
			  <button class="tab tab-indialog"
			  [class.tab-is-active]="currentTabId == 'embed'"
				(click)="openTab('embed')"
				*ngIf="hasEmbedSupport">Embed</button>
		  </div>
  
		  <div class="u-padding-all2x">
  
			<div class="l-flex l-flex-1x u-margin-bottom3x">
			  <label class="radio" for="card">
				<input type="radio" id="card" name="type" value="card" checked="">
				<span class="radio-x-text">Card</span>
			  </label>
  
			  <label class="radio" for="image">
				<input type="radio" id="image" name="type" value="image">
				<span class="radio-x-text">Image</span>
			  </label>
			</div>
  
  
			<p class="u-text-bold">Included Badge Options</p>
			<div class="rule u-margin-yaxis2x"></div>
			<label class="checkbox checkbox-light u-margin-bottom2x">
			  <input name="rec" type="checkbox" checked="">
			  <span class="checkbox-x-text">
				<strong>Recipient Identifier:</strong> <br> 
				name@concentricsky.com
			  </span>
			</label>
  
			<label class="checkbox u-margin-bottom2x">
			  <input name="nameinc" type="checkbox" checked="">
			  <span class="checkbox-x-text">
				Badge Name
			  </span>
			</label>
  
			<label class="checkbox u-margin-bottom2x">
			  <input name="dateaw" type="checkbox" checked="">
			  <span class="checkbox-x-text">
				Date Awarded
			  </span>
			</label>
  
			<label class="checkbox u-margin-bottom2x">
			  <input name="verifi" type="checkbox" checked="">
			  <span class="checkbox-x-text">
				Verification
			  </span>
			</label>
  
			<p class="u-text-small-bold u-margin-bottom0p5x u-margin-top5x">Preview</p>
  
			<div class="badgecard">
			  <div class="badgecard-x-body">
				  <div class="badgecard-x-image">
					  <img class="badgeimage" src="http://placehold.it/100x100" alt="">
				  </div>
				  <a class="badgecard-x-title" href="#">A Badge Title</a>
				  <div class="badgecard-x-issuer">Issuer Title</div>
				  <div class="badgecard-x-desc">Some descriptive about this badge</div>
			  </div>
			  <div class="badgecard-x-footer">
				  <div class="badgecard-x-date">Earned: January 01, 2019</div>
				  <a href="#" class="badgecard-x-sharelink">Verify Badge</a>
			  </div>
			</div>
			
			<div class="forminput forminput-code u-margin-top3x u-margin-bottom2x">
			  <label class="forminput-x-label" for="forminput">Embeded Code</label>
			  <div class="forminput-x-inputs">
				<textarea type="text" name="forminput" id="forminput">The embed code goes here and changes dynamically as the checks and radios are pressed above.
				</textarea>
			  </div>
			</div>
			<div class="l-stack l-stack-right">
			  <button class="button button-secondary">Copy</button>
			</div>
		  </div>
		</div>
	</div>
  </dialog>






<!--


<dialog class="dialog dialog-titled wrap wrap-light">
	 Header 
	<header class="dialog-x-titlebar">
		<h1>{{ options.title }}</h1>
		<button class="dialog-x-close" (click)="closeDialog()">
			<span class="icon icon-notext icon-close">Close</span>
		</button>
	</header>

	 Tab Navigation Bar 
	<nav class="l-tabs" aria-labelledby="nav-tabs" role="navigation">
		<h3 class="visuallyhidden" id="nav-tabs"> Tabs</h3>
		<button class="tab"
				[class.tab-is-active]="currentTabId == 'link'"
				(click)="openTab('link')"
		>
			<span class="visuallyhidden">Open </span>Link<span class="visuallyhidden"> tab</span>
		</button>
		<button class="tab"
				[class.tab-is-active]="currentTabId == 'social'"
				(click)="openTab('social')"
		>
			<span class="visuallyhidden">Open </span>Social<span class="visuallyhidden"> tab</span>
		</button>
		<button class="tab"
				[class.tab-is-active]="currentTabId == 'embed'"
				(click)="openTab('embed')"
				*ngIf="hasEmbedSupport"
		>
			<span class="visuallyhidden">Open </span>Embed<span class="visuallyhidden"> tab</span>
		</button>
	</nav>

	 Link Tab 
	<div class="l-sharepane" tabindex="-1" id="sharelink" *ngIf="currentTabId == 'link'">
		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>
			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop  l-marginTop-2x ">
				<label class="formcheckbox" for="form-checkbox">
					<input name="form-checkbox" id="form-checkbox" type="checkbox" [(ngModel)]="includeRecipientIdentifier" (ngModelChange)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Identifier: {{ options.recipientIdentifier }}</span>
				</label>
			</div>
		</div>
		
		<div class="formfield formfield-link">
			<label class=" " for="link-input">Copy this private URL to share:</label>
			<input id="link-input" 
					name="link-input" 
					type="text" 
					[value]="currentShareUrl" 
					(click)="$event.target.select()"
					readonly
					#urlInput
			>
		</div>
		<div class="l-childrenhorizontal l-childrenhorizontal-spacebetween">
			<div class="l-childrenhorizontal l-childrenhorizontal-small" *ngIf="options.versionOptions">
				<div class="formradiobutton" *ngFor="let version of options.versionOptions; let i = index">
					<input type="radio"
							[value]="version"
							[(ngModel)]="selectedVersion"
							name="version-{{ i }}"
							id="version-{{ i }}"
							#urlInput
					/>
					<label for="version-{{ i }}">
						<span><span></span></span>
						<span class="formradiobutton-x-text">{{ version.label }}</span>
					</label>
				</div>
			</div>

			<button type="button"
					class="button"
					(click)="copyToClipboard(urlInput)"
					[hidden]="! copySupported"
			>Copy</button>
		</div>
		<div class="l-sharepane-x-preview wrap wrap-light4 wrap-rounded" *ngIf="options.versionInfoTitle">
			<p class="text text-small"><strong>{{ options.versionInfoTitle }}</strong></p>
			<p class="text text-small">{{ options.versionInfoBody }}</p>
		</div>
		<div class="l-childrenhorizontal l-childrenhorizontal-right">
			<a class="standaloneanchor" [href]="currentShareUrl" target="_blank">Open in New Window</a>
		</div>
	</div>

	 Social Tab 
	<div class="l-sharepane l-sharepane-social" tabindex="-1" id="sharelinksocial" *ngIf="currentTabId == 'social'">
		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>
			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop  l-marginTop-2x ">
				<label class="formcheckbox" for="form-checkbox">
					<input name="form-checkbox" id="form-checkbox" type="checkbox" [(ngModel)]="includeRecipientIdentifier" (ngModelChange)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Identifier: {{ options.recipientIdentifier }}</span>
				</label>
			</div>
		</div>
				
		<div class="l-authbuttons">
			<div *ngIf="displayShareServiceType('Facebook')">
				<button class="buttonauth buttonauth-facebook"
						type="button"
						(click)="openShareWindow('Facebook')"
				>Facebook
				</button>
			</div>
			<div *ngIf="displayShareServiceType('LinkedIn')">
				<button class="buttonauth buttonauth-linkedin_oauth2"
						type="button"
						(click)="openShareWindow('LinkedIn')"
				>LinkedIn
				</button>
			</div>
			<div *ngIf="displayShareServiceType('Twitter')">
				<button class="buttonauth buttonauth-twitter"
						type="button"
						(click)="openShareWindow('Twitter')"
				>Twitter
				</button>
			</div>
			<div *ngIf="displayShareServiceType('Pinterest')">
				<button class="buttonauth buttonauth-pinterest"
						type="button"
						(click)="openShareWindow('Pinterest')"
				>
				</button>
			</div>
		</div>
	</div>

	 Embed Tab 
	<div class="l-sharepane" tabindex="-1" id="sharelinkembed" *ngIf="currentTabId == 'embed'">
		<div class="l-childrenhorizontal l-childrenhorizontal-small">
			<div class="formradiobutton" *ngFor="let embedOption of options.embedOptions; let i = index">
				<input type="radio"
						name="embed-type-{{i}}"
						id="embed-type-{{i}}"
						[value]="embedOption"
						[(ngModel)]="selectedEmbedOption"
				/>
				<label for="embed-type-{{i}}">
					<span><span></span></span>
					<span class="formradiobutton-x-text">{{ embedOption.label }}</span>
				</label>
			</div>
		</div>
		
		<div *ngIf="options.showRecipientOptions" class="l-sharepane-x-preview wrap wrap-light4">
			<p class="label-formfield">Badge Options</p>
			<div class="l-sharepane-x-childrenhorizontal-marginbottom l-marginTop  l-marginTop-2x ">

				<label class="formcheckbox" for="form-checkbox">
					<input name="form-checkbox" id="form-checkbox" type="checkbox" [(ngModel)]="includeRecipientIdentifier" (ngModelChange)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Identifier: {{ options.recipientIdentifier }}</span>
				</label>
				
				<label *ngIf="selectedEmbedOption && selectedEmbedOption.embedType == 'image'" class="formcheckbox" for="form-checkbox1">
					<input name="form-checkbox" id="form-checkbox1" type="checkbox" [(ngModel)]="includeBadgeClassName" (ngModelChange)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Badge Name</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption.embedType == 'image' && selectedEmbedOption.embedRecipientName" class="formcheckbox" for="form-checkbox2">
					<input name="form-checkbox2" id="form-checkbox2" type="checkbox" [value]="includeRecipientName" [(ngModel)]="includeRecipientName" (change)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Recipient Name</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption.embedType == 'image'" class="formcheckbox" for="form-checkbox5">
					<input name="form-checkbox5" id="form-checkbox5" type="checkbox" [(ngModel)]="includeAwardDate" (change)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Date Awarded</span>
				</label>

				<label *ngIf="selectedEmbedOption && selectedEmbedOption.embedType == 'image'" class="formcheckbox" for="form-checkbox6">
					<input name="form-checkbox6" id="form-checkbox6" type="checkbox" [(ngModel)]="includeVerifyButton" (change)="updatePreview()">
					<span class="formcheckbox-x-text formcheckbox-x-text-sharebadge">Include Verification</span>
				</label>
			</div>
		</div>
		
		<p class="label-formfield">Preview</p>
		<div class="l-sharepane-x-preview wrap wrap-light4 wrap-rounded" [innerHTML]="currentSafeEmbedHtml"></div>
		
		<div class="formfield formfield-limitedtextarea formfield-monospaced">
			<label class=" " for="emebed-code-box">Embed Code</label>
			<textarea id="emebed-code-box"
						name="emebed-code-box"
						readonly
						[value]="currentEmbedHtml"
						(click)="$event.target.select()"
						#embedHtmlInput
			></textarea>
		</div>
		
		<div class="l-childrenhorizontal l-childrenhorizontal-right" >
			<button class="button"
					type="button"
					[hidden]="! copySupported"
					(click)="copyToClipboard(embedHtmlInput)"
			>Copy</button>
		</div>
		
	</div>
</dialog> -->
