<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
    <div class="shadowcontainer u-animate-dropfade">
		<markdown-display 
			[value]="theme.welcomeMessage || '### Welcome to Badgr'" 
		>
		</markdown-display>

		<ng-template [ngIf]="! sessionService.enabledExternalAuthProviders.length">
			<p class="u-text u-text-body u-margin-top1x">
				Sign in with your email and password. Don't have an account yet? <a [routerLink]="['/signup']">Create an account</a>!
			</p>
		</ng-template>	
		<ng-template [ngIf]="sessionService.enabledExternalAuthProviders.length">
			<p class="u-text-body u-margin-top1x">
				Choose your sign in method to get started.
			</p>
			<h3 class="ruleheadline">
				<span>Sign in With</span>
			</h3>

			<div class="l-socialbuttons">
				<button
					type="button"
					*ngFor="let provider of sessionService.enabledExternalAuthProviders"
					class="socialbutton socialbutton-{{ provider.slug }}"
					(click)="sessionService.initiateUnauthenticatedExternalAuth(provider)"
				>
					{{ provider.name }}
				</button>
			</div>

			<h3 class="ruleheadline">
				<span>Or</span>
			</h3>
		</ng-template>

        <form
            class="u-margin-top2x"
            (ngSubmit)="submitAuth()"
            novalidate
        >

            <bg-formfield-text
                [control]="loginForm.controls.username"
                label="Email"
                fieldType="email"
                [errorMessage]="'Please enter a valid email address'"
                [autofocus]="true"
                [initialValue]="verifiedEmail || ''"
                #usernameField
            ></bg-formfield-text>

            <bg-formfield-text
                [control]="loginForm.controls.password"
                label="Password"
                class="u-margin-top2x"
                [errorMessage]="'Please enter your password'"
                fieldType="password"
                #passwordField
            >
                <span label-additions>
                    <a
                        class="forminput-x-helplink"
                        href="#"
                        tabindex="-1"
                        [routerLink]="['/auth/request-password-reset', usernameField.value]"
                    >
                        Forgot Password?
                    </a>
                </span>
            </bg-formfield-text>

            <div class="l-flex u-margin-top2x">
                <button
                    class="button"
                    type="submit"
                    [disabled]="!! loginFinished"
                    [loading-promises]="[ loginFinished ]"
                    loading-message="Signing In"
                    (click)="clickSubmit($event)"
                >
                    Sign In
                </button>
                <label class="checkbox l-flex l-flex-aligncenter l-flex-x-selfcenter u-margin-left2x">
                    <input
                        name="remember-me"
                        id="remember-me"
                        type="checkbox"
                        [formControl]="loginForm.controls.rememberMe"
                    >
                    <span class="checkbox-x-text">Remember me</span>
                </label>
            </div>
        </form>
    </div>
</div>

<form-message></form-message>

<!-- <div class="forminput">
	<label class="forminput-x-label" for="forminput">Email</label>
	<div class="forminput-x-inputs">
		<input type="text" name="forminput" id="forminput" placeholder="">
	</div>
</div>
<div class="forminput u-margin-top2x">
	<div class="forminput-x-labelrow">
		<label class="forminput-x-label" for="forminput">Password</label>
		<a class="forminput-x-helplink" href="#">Forgot Password?</a>
	</div>
	<div class="forminput-x-inputs">
		<input type="password" name="forminput" id="forminput" placeholder="">
	</div>
</div> -->

<!-- OLD

<ng-container *bgAwaitPromises="[ initFinished ]">
	<form-message></form-message>

	<div class="l-auth">
		<ng-template [ngIf]="! oAuthManager.currentAuthorization">
			<ng-template [ngIf]="! verifiedName">
				<markdown-display id="heading-form" [value]="theme.welcomeMessage || '## Welcome to Badgr'" [login]="true"></markdown-display>
				<p class="l-auth-x-text text text-quiet" *ngIf="sessionService.enabledExternalAuthProviders.length">
					Choose your sign in method to get started.
				</p>
				<p class="l-auth-x-text text text-quiet" *ngIf="! sessionService.enabledExternalAuthProviders.length">
					Sign in with your email and password.
					Don't have an account yet? <a [routerLink]="['/signup']">Create an account</a>!
				</p>
			</ng-template>
			<ng-template [ngIf]="verifiedName">
				<h3 class="l-auth-x-title title title-bold" id="heading-form">
					{{ verifiedName | ucfirst }}, welcome to {{ theme.serviceName || "Badgr" }}
				</h3>

				<p class="l-auth-x-text text text-quiet">
					Your email address, {{ verifiedEmail }}, has been verified. Enter your password below to get started.
				</p>
			</ng-template>
		</ng-template>

		<ng-template [ngIf]="oAuthManager.currentAuthorization">
			<oauth-banner></oauth-banner>

			<ng-template [ngIf]="! verifiedName">
				<h3 class="l-auth-x-title title title-bold" id="heading-form">
					Sign in to your {{ theme.serviceName || "Badgr" }} Account
				</h3>
				<p class="l-auth-x-text text text-quiet">
					The application <strong>{{ oAuthManager.currentAuthorization.application.name }}</strong> would like to
					sign you in using your {{ theme.serviceName || "Badgr" }} account.
					Not using {{ theme.serviceName || "Badgr"}}? <a [routerLink]="['/signup']">Create an account</a>!
				</p>
			</ng-template>
			<ng-template [ngIf]="verifiedName">
				<h3 class="l-auth-x-title title title-bold" id="heading-form">
					{{ verifiedName | ucfirst }}, welcome to {{ theme.serviceName || "Badgr"}}!
				</h3>
				<p class="l-auth-x-text text text-quiet">
					The application <strong>{{ oAuthManager.currentAuthorization.application.name }}</strong> would like to
					sign you in using your {{ theme.serviceName || "Badgr"}} account. Your email address, {{ verifiedEmail }}, has
					been verified.
					Enter your
					password below to continue.
				</p>
			</ng-template>
		</ng-template>

		<form class="l-form l-form-span" role="form" aria-labelledby="heading-form" (ngSubmit)="submitAuth()" novalidate>
			<fieldset role="group" aria-labelledby="heading-socialsignin" *ngIf="! verifiedName && sessionService.enabledExternalAuthProviders.length > 0">
				<legend class="visuallyhidden" id="heading-socialsignin">Sign in with third-party social account</legend>

				<div class="formfield">
					<p class="formfield-x-label">Sign In With</p>
					<div class="l-authbuttons">
						<div *ngFor="let provider of sessionService.enabledExternalAuthProviders">
							<button type="button" class="buttonauth buttonauth-{{ provider.slug }}" (click)="sessionService.initiateUnauthenticatedExternalAuth(provider)">{{
								provider.name }}
							</button>
						</div>
					</div>
				</div>
			</fieldset>

			<div class="formdivider" *ngIf="! verifiedName && sessionService.enabledExternalAuthProviders.length > 0">
				<span>Or sign in with your email</span>
			</div>

			<fieldset role="group" aria-labelledby="heading-badgrsignin">
				<legend class="visuallyhidden" id="heading-badgrsignin">Sign In with username and password</legend>

				<bg-formfield-text [control]="loginForm.controls.username" label="Email" fieldType="email" [errorMessage]="'Please enter a valid email address'"
				 [autofocus]="true" [initialValue]="verifiedEmail || ''" #usernameField></bg-formfield-text>

				<bg-formfield-text [control]="loginForm.controls.password" label="Password" [errorMessage]="'Please enter your password'"
				 fieldType="password" #passwordField>
					<span label-additions>
						<a tabindex="-1" [routerLink]="['/auth/request-password-reset', usernameField.value]">Forgot Password?</a>
					</span>
				</bg-formfield-text>
			</fieldset>

			<div class="l-form-x-offset l-childrenhorizontal l-childrenhorizontal-spacebetween">
				<label class="formcheckbox" for="remember-me">
					<input name="remember-me" id="remember-me" type="checkbox" [formControl]="loginForm.controls.rememberMe">
					<span class="formcheckbox-x-text">Remember me</span>
				</label>

				<div class="l-childrenhorizontal">
					<button class="button button-secondary" type="button" (click)="oAuthManager.cancelCurrentAuthorization()" *ngIf="oAuthManager.currentAuthorization">Cancel
					</button>

					<button class="button" type="submit" [disabled]="!! loginFinished" [loading-promises]="[ loginFinished ]"
					 loading-message="Signing In" (click)="clickSubmit($event)">Sign In
					</button>
				</div>
			</div>
		</form>
	</div>
</ng-container> -->
