.tag {
  align-items: center;
  background-color: var(--color-dark2);
  border-radius: var(--border-radius);
  color: var(--color-light1);
  display: flex;
  font-size: var(--font-size-small1);
  font-weight: bold;
  line-height: 1;
  padding: $gridspacing * 1.5 $gridspacing * 1.5 $gridspacing * 1.5 $gridspacing * 2;
  text-transform: uppercase;

  button {
    background: url('#{$base-path}images/tag-button.svg') center center no-repeat;
    border-radius: var(--border-radius);
    color: transparent;
    height: 16px;
    margin-left: $gridspacing;
    outline: none;
    overflow: hidden;
    transition: background $transition-duration $transition-easing,
                box-shadow $transition-duration $transition-easing;
    user-select: none;
    width: 16px;

    &:active:focus {
      background-color: var(--color-secondary);
      background-image: url('#{$base-path}images/tag-button-active.svg');
      box-shadow: none;
    }

    &:hover {
      background-color: var(--color-dark1);
      background-image: url('#{$base-path}images/tag-button-active.svg');
    }

    &:focus {
      background-color: var(--color-light1);
      background-image: url('#{$base-path}images/tag-button-focus.svg');
      box-shadow: 0 0 4px 1px var(--color-quaternary);
    }

  }

}
