<main *bgAwaitPromises="[issuerLoaded]">
	<form-message></form-message>

	<header class="wrap wrap-light l-containerhorizontal l-heading">

		<nav>
			<h1 class="visuallyhidden">Breadcrumbs</h1>
			<ul class="breadcrumb">
				<li><a [routerLink]="['/issuer']">Issuers</a></li>
				<li *ngIf="issuer"><a [routerLink]="['/issuer/issuers', issuerSlug]">{{ issuer.name }}</a></li>

				<li class="breadcrumb-x-current">Add Group</li>
			</ul>
		</nav>

		<div class="heading">
			<div class="heading-x-text">
				<h1>Add Group</h1>
				<p>Use the form below to create a new recipient group. Once created, you’ll be able to add elements and align badges to it.</p>
			</div>
		</div>

	</header>

	<div class="l-containerhorizontal l-containervertical l-childrenvertical wrap">

		<form class="l-form"
					[formGroup]="recipientGroupForm"
					(ngSubmit)="onSubmit(recipientGroupForm.value)"
					novalidate>
			<fieldset>
				<bg-formfield-text [control]="recipientGroupForm.controls.recipientGroup_name"
													 [label]="'Name'"
													 [errorMessage]="{required:'Please enter a group name'}"
													 [autofocus]="true"
				></bg-formfield-text>

				<bg-formfield-text [control]="recipientGroupForm.controls.recipientGroup_description"
													 [label]="'Description'"
													 [errorMessage]="{required:'Please enter a group description'}"
													 [multiline]="true"
				></bg-formfield-text>
			</fieldset>

			<div class="l-childrenhorizontal l-childrenhorizontal-small l-childrenhorizontal-right">
				<a class="button button-primaryghost"
					 [routerLink]="['/issuer/issuers/', issuerSlug]"
					 [disabled-when-requesting]="true"
				>Cancel</a>
				<button class="button"
								type="submit"
								[disabled]="!! createGroupFinished"
								(click)="createRecipientGroup($event)"
								[loading-promises]="[ createGroupFinished ]"
								loading-message="Adding"
				>Create Group</button>
			</div>
		</form>

	</div>
</main>
