.titledivider {
  align-items: center;
  color: var(--color-secondary-a38);
  display: flex;
  font-size: var(--font-size-small2);

  &::after {
    background-color: var(--color-secondary-a12);
    content: '';
    flex: 1 1 auto;
    height: 1px;
    margin-left: $gridspacing;
  }

}
