.formdivider {
  align-items: center;
  color: var(--color-dark3);
  display: flex;
  flex-wrap: nowrap;
  font-size: var(--font-size-small1);
  font-weight: bold;
  justify-content: center;
  margin: $gridspacing * 3 0;
  text-transform: uppercase;

  &::before,
  &::after {
    background: var(--color-dark4);
    content: '';
    flex-grow: 1;
    height: 1px;
  }

  > * {
    margin: 0 $gridspacing;
  }

}
