<div class="pathwaydetail pathway-x-content" *ngIf="! isRootElement">
	<div class="pathwaydetail-x-body"
			 *ngIf="! editForm.isEditing"
			 [class.pathwaydetail-x-inactive]="isMoveInProgress"
	>
		<a class="pathwaydetail-x-image"
			 *ngIf="! editForm.isEditing && pathwayElement.hasCompletionBadge"
			 [routerLink]="['/issuer/issuers', issuerSlug, 'pathways', pathwaySlug, 'elements', pathwayElement.slug]"
		>
			<badge-image [badge]="pathwayElement.completionBadge.entity" size="64"></badge-image>
		</a>
		<div class="pathwaydetail-x-main">
			<div class="pathwaydetail-x-text">
				<a [routerLink]="['/issuer/issuers', issuerSlug, 'pathways', pathwaySlug, 'elements', pathwayElement.slug]">
					<h1>{{ pathwayElement.name }}</h1>
					<p>{{ pathwayElement.description }}</p>
				</a>
				<label class="formcheckbox">
					<input type="checkbox" [(ngModel)]="isRequiredForParentCompletion">
					<span class="formcheckbox-x-text">Required for parent completion</span>
				</label>
				<p class="pathwaydetail-x-children"
					 *ngIf="pathwayElement.children.length"
				><strong>{{pathwayElement.children.length}}</strong> Children</p>
			</div>
			<!-- Connected Badges -->
			<div class="pathwaydetail-x-badges"
					 *ngIf="pathwayElement.requirements.requiredBadgeIds?.length > 0"
			>
				<h2 class="titledivider">{{ pathwayElement.requirements.requiredBadgeIds.length }} {{ pathwayElement.requirements.requiredBadgeIds.length == 1 ? "Connected Badge" : "Connected Badges"}}</h2>
				<div>
					<div class="selecteditem selecteditem-badge"
							 *ngFor="let badgeId of pathwayElement.requirements.requiredBadgeIds">
						<badge-image [badgeId]="badgeId" [size]="40"></badge-image>
						<button (click)="removeRequiredBadgeId(badgeId)" [disabled-when-requesting]="true">Remove Badge</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pathwaydetail-x-footer"
			 *ngIf="! editForm.isEditing"
	>
		<div class="l-childrenhorizontal l-childrenhorizontal-small"
				 [class.pathwaydetail-x-inactive]="isMoveInProgress"
		>
			<label class="select select-inputonly select-secondary">
				<span>Badge completion criteria</span>

				<select [(ngModel)]="requirementJunctionType" *ngIf="hasBadgeRequirements">
					<option value="Conjunction">ALL badges are required for completion</option>
					<option value="Disjunction">At least ONE badge is required for completion</option>
				</select>

				<select [(ngModel)]="requirementJunctionType" *ngIf="hasChildElementRequirements">
					<option value="Conjunction">ALL checked children are required for completion</option>
					<option value="Disjunction">At least ONE checked child is required for completion</option>
				</select>
			</label>
		</div>

		<div class="pathwaydetail-x-action l-childrenhorizontal l-childrenhorizontal-small"
				 *ngIf="! hasRequirements && ! isAddingChild && ! isMoveInProgress"
		>
			<button class="button button-secondaryghost"
							(click)="openRequiredBadgeDialog()"
			>Connect Badge</button>
			<span class="pathwaydetail-x-or">or</span>
			<button class="button button-secondaryghost"
							(click)="beginAddingChild()"
			>Add Child</button>
		</div>
		<div class="pathwaydetail-x-action"
				 *ngIf="hasBadgeRequirements && ! isMoveInProgress"
		>
			<button class="button button-secondaryghost"
							(click)="openRequiredBadgeDialog()"
			>Connect Badge</button>
		</div>
		<div class="pathwaydetail-x-action"
				 *ngIf="hasChildElementRequirements && ! isRootElement && ! isMoveInProgress"
		>
			<button class="button button-secondaryghost"
							(click)="beginAddingChild()"
			>Add Child</button>
		</div>
		<div class="pathwaydetail-x-action l-childrenhorizontal l-childrenhorizontal-small"
				 *ngIf="isThisElementMoving"
		>
			<button class="button button-primaryghost"
							(click)="cancelElementMove()"
			>Cancel Move</button>
		</div>
	</div>

	<div class="pathwaydetail-x-menu menumore"
			 [class.menumore-is-active]="menu.show"
			 [class.pathwaydetail-x-inactive]="isMoveInProgress"
			 *ngIf="! editForm.isEditing"
			 #menu
			 (document:click)="(menu.clickedState ? (menu.clickedState = false) : (menu.show = false)) || true"
	>
		<!-- TODO: Above is an awesome hack that hides the menu when clicking on the document... might want to replace with something more stable. -->
		<button type="button"
						aria-controls="menumore1"
						(click)="menu.show = ! menu.show; menu.clickedState = menu.show;"
		>Toggle Menu</button>
		<ul [attr.aria-hidden]="! menu.show"
				(click)="menu.show = false"
		>
			<li class="menumoreitem"
					[class.menumoreitem-is-disabled]="! pathwayElement.hasValidMoveTargets"
					*ngIf="! isMoveInProgress"
			>
				<button class="menumoreitem"
								type="button"
								[disabled]="! pathwayElement.hasValidMoveTargets"
								(click)="startElementMove()">Move</button>
			</li>
			<li class="menumoreitem">
				<button class="menumoreitem"
								(click)="editForm.startEditing()">Edit</button>
			</li>
			<li class="menumoreitem">
				<button class="menumoreitem"
								[disabled-when-requesting]="true"
								(click)="deleteElement()">Delete</button>
			</li>
		</ul>
	</div>

	<pathway-element-edit-form #editForm [pathwayElement]="pathwayElement" [formSpan]="true"></pathway-element-edit-form>

</div>

<!-- Move as First Child Button -->
<div class="pathway" [class.pathway-is-dropzone]="!isRootElement" *ngIf="isValidMoveTarget(null)">
	<button class="pathway-x-move" (click)="moveElementAfterChild(null)">Move Element Here</button>
</div>

<!-- Element Children -->
<ng-template ngFor let-child [ngForOf]="pathwayElement.children">
	<pathway-element [pathwayElement]="child"
									 [pathwayComponent]="pathwayComponent"
									 [isRootElement]="false"
									 [elementDisplayDepth]="elementDisplayDepth + 1"
	>
	</pathway-element>
	<div class="pathway" [class.pathway-is-dropzone]="!isRootElement" *ngIf="isValidMoveTarget(child)">
		<button class="pathway-x-move" (click)="moveElementAfterChild(child)">Move Element Here</button>
	</div>
</ng-template>

<!-- Add New Child Form -->
<div class="pathway" *ngIf="isAddingChild">
	<div class="pathway-x-content pathwaydetail">
		<form class="l-form l-form-span"
					[formGroup]="elementCreateForm"
					(ngSubmit)="submitCreate(elementCreateForm.value)"
					novalidate
		>
			<fieldset>
				<bg-formfield-text [control]="elementCreateForm.controls.element_name"
													 [label]="'Element Name'"
													 [errorMessage]="'Please enter an element name'"
				></bg-formfield-text>

				<bg-formfield-text [control]="elementCreateForm.controls.element_description"
													 [label]="'Element Description'"
													 [errorMessage]="'Please enter an element description'"
													 [multiline]="true"
				></bg-formfield-text>

				<bg-formfield-text [control]="elementCreateForm.controls.alignment_url"
													 [label]="'Alignment URL'"
													 [sublabel]="'An Alignment URL will be automatically created for you if you don’t have one.'"
													 [errorMessage]="'Please enter a valid URL'"
													 [urlField]="true"
				></bg-formfield-text>
			</fieldset>

			<div class="l-childrenhorizontal l-childrenhorizontal-small l-childrenhorizontal-right">
				<button type="button" class="button button-primaryghost" (click)="cancelCreating()" [disabled-when-requesting]="true">Cancel</button>
				<button type="submit" class="button" (click)="validateCreateForm($event)" [disabled-when-requesting]="true">Save</button>
			</div>
		</form>
	</div>
</div>

<!-- Add Child when Root button -->
<button class="button" (click)="beginAddingChild()" *ngIf="isRootElement && hasChildElementRequirements && ! isAddingChild">Add Child</button>
