.wrap {
  background-color: var(--color-light2);
  z-index: $z-index-low;
}

.wrap-light {
  background-color: var(--color-light3);
}

.wrap-light4 {
  background-color: var(--color-light4);
}

.wrap-rounded {
  border-radius: var(--border-radius);
}

.wrap-well {
  background-color: var(--color-light3);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--color-dark4);
}

.wrap-welldark {
  background-color: var(--color-light4);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--color-dark4);
}
