<section class="wrap l-containerhorizontal">
	<div>
		<div class="importHeading">
			<h1 class=title>Import Errors</h1>
			<p>
				{{transformedImportData.validRowsTransformed.size}} rows will be imported. The following
				{{transformedImportData.invalidRowsTransformed.length}} contain errors. Please fix the errors below or select
				REMOVE.
			</p>
		</div>

		<form [formGroup]="importErrorForm">

			<table formArrayName="users" class="table table-issues">
				<thead>
					<tr>
						<th scope="col">Email</th>
						<th scope="col">Evidence URL</th>
						<th>
							<!-- header for remove link-->
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let user of importErrorForm.controls['users']['controls']; let i=index">
						<td class="table-issues-x-confirmationText">
							<bg-formfield-text [control]="importErrorForm.controls['users']['controls'][i].controls.email" [errorMessage]="'Please enter a valid email'"></bg-formfield-text>
						</td>
						<td class="table-issues-x-confirmationText">
							<bg-formfield-text [control]="importErrorForm.controls['users']['controls'][i].controls.evidence" [errorMessage]="{required:'Please enter a valid URL'}"></bg-formfield-text>
						</td>
						<td>
							<button class="button button-primaryghost" (click)="removeButtonErrorState(i)">REMOVE</button>
						</td>
					</tr>
				<tbody>
			</table>
		</form>
	</div>

	<!-- BUTTONS -->
	<div class="l-display-flex l-childrenhorizontal-right l-marginTop-4x l-marginBottom-4x">
		<button class="button button-primaryghost" (click)="updateViewState('import')">cancel</button>

		<button class="button l-marginLeft-x2" (click)="continueButtonAction()">continue</button>
	</div>
</section>
