.status {
  border-radius: $border-radius;
  box-sizing: border-box;
  color: $color-light1;
  display: inline-block;
  font-size: $font-size-small2;
  font-weight: bold;
  line-height: 1;
  padding: 5px 10px;
  text-transform: uppercase;
}

.status-new {
  background-color: map-get($states, pending);
}

.status-expired {
  background-color: $color-dark2;
}
