<form-message></form-message>

<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">
			Issuers
			<span class="topbar-x-internalheading" *ngIf="!! issuers">
				{{ issuers.length }} {{ issuers.length == 1 ? "Issuer" : "Issuers" }}
			</span>
		</h2>
		<button class="button topbar-x-button" [routerLink]="['/issuer/create']" [disabled-when-requesting]="true">
			Create Issuer
		</button>
	</div>
</div>

<div class="l-containerxaxis l-containeryaxis l-responsivelist" *bgAwaitPromises="[issuersLoaded, badgesLoaded]">

	<!-- Empty state: no issuers -->
	<div class="l-containerxaxis l-containeryaxis" *ngIf="! issuers.length">
		<h2 class="u-text-h3-bold u-text-center u-margin-bottom1x">
			You have no issuers
		</h2>
		<p class="u-text-body u-text-center u-margin-bottom3x">
			Create an issuer to begin awarding badges!
			<a href="https://support.badgr.io/pages/viewpage.action?pageId=327776" target="_blank" class="u-text-outlink">Learn
				more<svg icon="icon_external_link"></svg></a> about Open
			Badges.
		</p>
		<div class="l-flex l-flex-justifycenter">
			<img [src]="noIssuersPlaceholderSrc" class="u-width-mediumimage u-display-block" alt="Illustration">
		</div>
	</div>

	<div class="issuercard" *ngFor="let issuer of issuers">

		<div class="issuercard-x-image">
			<img [loaded-src]="issuer?.image" [loading-src]="issuerPlaceholderSrc" [error-src]="issuerPlaceholderSrc" alt="{{ issuer.name }} avatar"
			 width="80" height="80">
		</div>
		<div class="issuercard-x-title">
			<a [routerLink]="['/issuer/issuers/', issuer.slug]">{{issuer.name}}</a>
			<p><strong>Your Role: </strong>{{ issuer.currentUserStaffMember?.roleInfo.label }}</p>
		</div>
		<div class="issuercard-x-desc" [truncatedText]="issuer.description" [maxLength]="250"></div>

		<div class="issuercard-x-topbadges" *ngFor="let issuerBadges of [issuerToBadgeInfo[issuer.issuerUrl]]">
			<h3 class="u-text-body-bold u-text-dark1 u-margin-bottom2x" *ngIf="issuerBadges">
				Top Badges:
			</h3>
			<div class="l-flex l-flex-2x l-flex-column">

				<ng-container *ngIf="issuerBadges">
					<div class="l-flex l-flex-2x" *ngFor="let badge of issuerBadges.badges.slice(0,3)">
						<badge-image class="stack-x-image" [badge]="badge" [size]="40"></badge-image>
						<div class="l-flex l-flex-column">
							<h3 class="u-text-body-semibold u-break-word u-text-dark4">
								{{ badge.name }}
							</h3>
							<p *ngIf="badge.recipientCount === 1" class="u-text-small u-text-dark4">{{ badge.recipientCount }} Recipient</p>
							<p *ngIf="badge.recipientCount > 1" class="u-text-small u-text-dark4">{{ badge.recipientCount }} Recipients</p>
						</div>
					</div>
				</ng-container>

			</div>
		</div>

		<div class="issuercard-x-footer">
			<div class="l-flex l-flex-aligncenter l-flex-1x">
				<svg class="icon icon-light4 u-hidden-maxmobile" width="24px" icon="icon_badge"></svg>
				<p class="u-text-small u-text-nowrap"><strong>({{ issuer.badgeClassCount }})</strong> {{ issuer.badgeClassCount ==
					1 ? 'Badge' : 'Badges' }}</p>
			</div>
			<a class="u-text u-text-small" [routerLink]="['/issuer/issuers/', issuer.slug]">View</a>
		</div>
	</div>
</div>
