<main>
	<form-message></form-message>

	<div class="topbar">
		<div class="l-containerxaxis topbar-x-wrap">
			<h2 class="topbar-x-heading">
			Backpack
			<span class="topbar-x-internalheading" *ngIf="!! allBadges">
				{{ allBadges.length }} {{ allBadges.length == 1 ? "Badge" : "Badges" }}
			</span>
			</h2>
			<button class="button topbar-x-button" (click)="addBadge()" [disabled-when-requesting]="true">
				Add Badge
			</button>
		</div>
	</div>

	<ng-template [bgAwaitPromises]="[ badgesLoaded ]">

		<!-- No badges, empty state! -->
		<div class="l-containerxaxis l-containeryaxis"  *ngIf="allBadges.length == 0">
			<h2 class="u-text-h3-bold u-text-center u-margin-bottom1x">
				You have no badges
			</h2>
			<p class="u-text-body u-text-center u-margin-bottom3x">
				Collect and share digital badges you've earned from {{configService.theme['serviceName'] || "Badgr"}} or any Open Badges issuer.
				<a href="https://openbadges.org/" class="u-text-outlink">Learn more<svg icon="icon_external_link"></svg></a> about Open Badges.
			</p>
			<div class="l-flex l-flex-justifycenter">
				<img class="u-width-mediumimage u-display-block" [src]="noBadgesImageUrl" alt="Illustration of backpack with badges">
			</div>
		</div>

		

		<div class="l-containerxaxis l-containeryaxis" *ngIf="allBadges.length > 0">




				<div class="l-actionbar u-margin-bottom3x">
					<div class="forminput l-actionbar-x-search">
						<div class="forminput-x-inputs">
							<input type="text" name="forminput" id="forminput" placeholder="Search badges" [(ngModel)]="searchQuery">
							<svg class="forminput-x-icon" icon="icon_search"></svg>
						</div>
					</div>
					<div class="l-actionbar-x-groupby">
						<label class="checkbox checkbox-small">
							<input name="groupby" type="checkbox" [(ngModel)]="groupByIssuer">
							<span class="checkbox-x-text">
								Group by Issuer
							</span>
						</label>
					</div>

					<div class="viewtoggle l-actionbar-x-viewtoggle" [class.viewtoggle-is-listview]="badgesDisplay=='list'">
						<label class="viewtoggle-x-grid">
							<span class="visuallyhidden">grid</span>
							<input  type="radio" name="radiobutton" id="radiobutton1" [(ngModel)]="badgesDisplay" checked="checked" value="grid">
							<svg viewBox="0 0 24 24"><use xlink:href="/images/icons.svg#icon_grid"></use></svg>
						</label>
						<label class="viewtoggle-x-list">
							<span class="visuallyhidden">list</span>
							<input  type="radio" name="radiobutton" id="radiobutton2" [(ngModel)]="badgesDisplay" value="list">
							<svg viewBox="0 0 24 24"><use xlink:href="/images/icons.svg#icon_list"></use></svg>
						</label>
					</div>


				</div>


				<!-- Grid View -->
				<ng-template [ngIf]="badgesDisplay == 'grid'">

					<!-- ------------------ UNGROUPED ------------------  -->
					<ng-template [ngIf]="! groupByIssuer">
						<div class="l-grid l-grid-large">

								<bg-badgecard *ngFor="let badgeResult of badgeResults"
											  badgeTitle="{{badgeResult.badge.badgeClass.name}}"
											  badgeImage="{{badgeResult.badge.image}}"
											  badgeDescription="{{badgeResult.badge.badgeClass.description}}"
											  badgeIssueDate="{{badgeResult?.badge?.issueDate}}"
								              mostRelevantStatus="{{badgeResult.badge.mostRelevantStatus}}"
											  isExpired="{{badgeResult.badge.isExpired}}"
											  issuerTitle="{{badgeResult.badge.badgeClass.issuer.name}}"
											  [routerLink]="['../earned-badge', badgeResult.badge.slug]"
								>
								</bg-badgecard>

							</div>
					</ng-template>

					<!-- ------------------ GROUP BY ISSUER ------------------  -->
					<ng-template [ngIf]="groupByIssuer">
						<div *ngFor="let issuerGroup of issuerResults">
							<h3 class="u-text-body-bold u-margin-yaxis3x u-text-dark1">{{ issuerGroup.issuer.name }} <span>{{ issuerGroup.badges.length }} {{
									issuerGroup.badges.length == 1 ? "Badge" : "Badges" }}</span></h3>
							<div class="l-grid l-grid-large">
								<bg-badgecard *ngFor="let badge of issuerGroup.badges"
												badgeTitle="{{badge.badgeClass.name}}"
												badgeImage="{{badge.image}}"
												badgeDescription="{{badge.badgeClass.description}}"
												badgeIssueDate="{{badge.issueDate}}"
												mostRelevantStatus="{{badge.mostRelevantStatus}}"
												isExpired="{{badge.isExpired}}"
												issuerTitle="{{ badge.badgeClass.issuer.name }}"
												[routerLink]="['../earned-badge', badge.slug]"
								>
								</bg-badgecard>
							</div>
						</div>
					</ng-template>
				</ng-template>
				
				<!-- TODO: The list view and dialogs -->
				<!-- List View -->
				<ng-template [ngIf]="badgesDisplay == 'list'">

					<div class="l-overflowhorizontal">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Badge</th>
									<th class="hidden hidden-is-desktop" scope="col">Issuer</th>
									<th class="hidden hidden-is-desktop" scope="col">Awarded</th>
									<th class="table-x-hidetext hidden hidden-is-tablet" scope="col">Actions</th>
								</tr>
							</thead>

							<tbody>
								<ng-template ngFor let-issuerGroup [ngForOf]="issuerResults" let-i="index">
									<tr *ngIf="groupByIssuer">
										<th class="table-x-inlineheader" scope="row" colspan="4">{{ issuerGroup.issuer.name }}</th>
									</tr>

									<ng-template ngFor let-badge [ngForOf]="issuerGroup.badges" let-i="index">
										<tr>
											<th scope="row">
												<a class="stack stack-list" [routerLink]="['../earned-badge', badge.slug]">
													<span class="stack-x-image">
														<img [loaded-src]="badge.image" [loading-src]="badgeLoadingImageUrl" [error-src]="badgeFailedImageUrl"
														 [ngStyle]="badge.isExpired && {'filter':'grayscale(1)'}" width="40" />
													</span>
													<span *ngIf="badge.mostRelevantStatus" class="status status-{{badge.mostRelevantStatus}} u-margin-right1x">
														{{badge.mostRelevantStatus}}
													</span>
													<span class="stack-x-text">
														<span class="stack-x-title">{{ badge.badgeClass.name }}</span>
													</span>
												</a>
											</th>
											<td class="hidden hidden-is-desktop">{{ badge.badgeClass.issuer.name }}</td>
											<td class="hidden hidden-is-desktop"><time [date]="badge?.issueDate" format="mediumDate"></time></td>
											<td class="hidden hidden-is-tablet">
												<div class="l-childrenhorizontal l-childrenhorizontal-right">
													<button class="button button-primaryghost" type="button" (click)="shareBadge(badge)">Share</button>
												</div>
											</td>
										</tr>
									</ng-template>

								</ng-template>
							</tbody>

						</table>
					</div>
				</ng-template>

		</div>
		<!-- End of l container -->
	</ng-template>

	<add-badge-dialog #addBadgeDialog></add-badge-dialog>
</main>
