<ng-container *bgAwaitPromises="[profileLoaded, emailsLoaded]">
	<form-message></form-message>
	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-wrap">
				<div class="topbar-x-heading">
					{{ profile?.firstName }} {{ profile?.lastName}}
					<div class="l-flex l-flex-1x l-flex-aligncenter u-margin-top2x">
						<svg icon="icon_edit" class="icon icon-dark4"></svg>
						<button class="u-text-link" type="button" [routerLink]="['/profile/edit']">
							Edit
						</button>
					</div>
				</div>
				<a [routerLink]="['../change-password']" class="button topbar-x-button">Change Password</a>
			</div>
		</div>
	</div>

	<div class="l-containerxaxis">
		<div class="l-stack u-margin-yaxis3x">
			<p class="u-text-h3-bold">
				Emails
			</p>

			<form [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value)" class="u-width-formsmall">
				<bg-formfield-text [control]="emailForm.controls['email']" 
								[errorMessage]="'Please enter a valid email address'"
								fieldType="email" 
								hasbutton="true"
								(clickHandleEmitter)="clickAddEmail($event)"
								class="forminput-light1"
								placeholder="Member Email">
				</bg-formfield-text>
			</form>

		</div>

		<table class="datatable datatable-roundheaders datatable-tallrows datatable-onlyfirstcolumn">
			<thead class="datatable-x-head">
				<tr class="datatable-x-header">
					<th class="datatable-x-cell">Email Address</th>
					<th class="datatable-x-cell">Status</th>
					<th class="datatable-x-cell"> <span class="visuallyhidden">Actions</span></th>
				</tr>
			</thead>
			<tbody class="datatable-x-body">
				<tr class="datatable-x-row" *ngFor="let email of emails">
					<td class="datatable-x-cell">
						<div class="l-flex l-flex-aligncenter l-flex-justifybetween">
							<p class="u-text">{{ email.email }}</p>
							<div class="u-hidden-minmobile l-flex l-flex-1x">
								<svg class="icon icon-success" icon="icon_checkmark_circle"></svg>
								<button class="buttonicon">
									<svg icon="icon_remove"></svg>
									<span class="visuallyhidden">Remove</span>
								</button>
							</div>
						</div>
						<div *ngIf="email.primary" class="datatable-x-status badgestatus badgestatus-intable badgestatus-new">primary</div>
					</td>
					<td class="datatable-x-cell u-text-body">
						<div class="l-flex l-flex-aligncenter l-flex-1x" *ngIf="email.verified">
							<svg class="icon icon-success" icon="icon_checkmark_circle"></svg>
							<p class="u-text-body" >Verified</p>
						</div>

						<div class="l-flex l-flex-aligncenter l-flex-1x" *ngIf="!email.verified">
							<svg class="icon icon-light4" icon="icon_pending"></svg>
							<p class="u-text-body">Pending</p>
							<button *ngIf="!email.verified" 
								class="u-text-link-small l-flex-x-selfflexend" 
								(click)="clickResendVerification($event, email)"
								[disabled-when-requesting]="true">
								Re-send Verification
							</button>
						</div>
						


					</td>
					<td class="datatable-x-cell">
						<button [class.u-text-light3]="email.primary"
								(click)="clickConfirmRemove($event, email)" 
								[disabled-when-requesting]="true" 
								class="u-text-link-small u-text-bold">
							Remove
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<h2 class="u-text-h3-bold u-margin-yaxis3x">Linked Accounts</h2>

		<table class="datatable datatable-roundheaders">
			<thead *ngIf="socialAccounts.length > 0" class="datatable-x-head">
				<tr class="datatable-x-header">
					<th class="datatable-x-cell">Service</th>
					<th class="datatable-x-cell">Account</th>
					<th class="datatable-x-cell"><span class="visuallyhidden">Actions</span></th>
				</tr>
			</thead>
			<tbody class="datatable-x-body">
				<tr class="datatable-x-row" *ngFor="let account of socialAccounts">
					<td class="datatable-x-cell" class="l-flex">
						{{ account.providerInfo.name }}
					</td>
					<td class="datatable-x-cell" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
						{{ account.fullLabel }}
					</td>
					<td class="datatable-x-cell">
						<div class="l-childrenhorizontal l-childrenhorizontal-right l-childrenhorizontal-stackmobile">
							<button class="button button-secondary" (click)="unlinkAccount(account)" [disabled-when-requesting]="true">Unlink
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	
		<p *ngIf="socialAccounts.length == 0" class="u-text-body u-margin-yaxis3x u-width-form">
			Click one of the provider buttons below to allow you to log in to {{configService.theme['serviceName'] || "Badgr"}}
			in the future using that service
			rather than your email and password.
		</p>
		<p class="u-text-small u-text-bold u-margin-bottom1x">Link Account:</p>

		<div class="rule u-margin-bottom2x"></div>

		<div class="l-grid l-grid-medium">
			<button *ngFor="let provider of sessionService.enabledExternalAuthProviders" 
					class="oauthbutton oauthbutton-{{ provider.slug }}"
					(click)="linkAccount(provider)"
					>
			</button>
		</div>

	</div>












	 <!-- TODO: 

	<div class="l-containerhorizontal l-containervertical l-childrenvertical wrap">

		<div class="l-childrenvertical l-headeredsection">
			 Email Table 
			<header>
				<h2 class="title title-is-smallmobile">Emails</h2>
			</header>
			<div class="table">
				 table header 
				<div class="table-x-thead">
					<div class="table-x-tr">
						<div class="table-x-th">Email Address</div>
						<div class="table-x-th">Status</div>
						<div class="table-x-th hidden hidden-is-desktop"><span class="visuallyhidden">Actions</span></div>
						 Additional header for menu more column
						<div class="table-x-th hidden hidden-is-lessThen-desktop" scope="row">&nbsp;</div>
					</div>
				</div>
				 End table header 

				 table body 
				<div class="table-x-tbody hidden hidden-is-tablet">
					<form class="table-x-tr table-x-active" [formGroup]="emailForm" (ngSubmit)="onSubmit(emailForm.value)">

						<div class="table-x-th " scope="row">
							<div class="formfield l-childrenhorizontal">
								<bg-formfield-text [control]="emailForm.controls['email']" [errorMessage]="'Please enter a valid email address'"
								 fieldType="email" placeholder="Member Email">
								</bg-formfield-text>
							</div>
						</div>

						<div class="table-x-td hidden hidden-is-desktop">&nbsp;</div>
						 Additional header for menu more column
						<div class="table-x-th hidden hidden-is-lessThen-desktop" scope="row">&nbsp;</div>

						<div class="table-x-td">
							<div class="l-childrenhorizontal l-childrenhorizontal-small l-childrenhorizontal-right">
								<button type="submit" class="button" (click)="clickAddEmail($event)" [disabled-when-requesting]="true">
									Add Email
								</button>
							</div>
						</div>
					</form>
				</div>
				 end FORM 

				 table body 
				<div class="table-x-tbody">
					<div class="table-x-tr" *ngFor="let email of emails">
						<div class="table-x-th" scope="row" [ngSwitch]="email.verified">
							<div class="l-childrenhorizontal">
								<span>{{ email.email }}</span> <span class="state state-pill state-is-pending" *ngIf="email.primary">Primary</span>
							</div>
						</div>
						<div class="table-x-td">
							<div class="l-childrenhorizontal">
								<span *ngIf="email.verified">Verified</span>
								<span *ngIf="!email.verified">Pending</span>
							</div>
						</div>

						<div class="table-x-td table-x-actions hidden hidden-is-desktop">
							<div class="l-childrenhorizontal l-childrenhorizontal-right l-childrenhorizontal-stackmobile">
								<button class="button button-primaryghost" [class.button-is-disabled]="email.primary" (click)="clickConfirmRemove($event, email)"
								 [disabled-when-requesting]="true">
									Remove
								</button>
								<button *ngIf="email.verified && !email.primary" class="button button-primaryghost" (click)="clickMakePrimary($event, email)"
								 [disabled-when-requesting]="true">
									Make primary
								</button>
								<button *ngIf="!email.verified" class="button button-primaryghost" (click)="clickResendVerification($event, email)"
								 [disabled-when-requesting]="true">
									Re-send Verification
								</button>
							</div>
						</div>

						 
						<div class="table-x-td  pathwaydetail-x-menu menumore hidden hidden-is-lessThen-desktop"
						 [class.menumore-is-active]="menu.show" [class.pathwaydetail-x-inactive]="isMoveInProgress" #menu
						 (document:click)="(menu.clickedState ? (menu.clickedState = false) : (menu.show = false)) || true">

							 TODO: Above is an awesome hack that hides the menu when clicking on the document... might want to replace with something more stable. 
							<button type="button" aria-controls="menumore1" (click)="menu.show = ! menu.show;
								            menu.clickedState = menu.show;">Toggle
								Menu
							</button>

							<ul [attr.aria-hidden]="! menu.show" (click)="menu.show = false">
								<li class="menumoreitem" *ngIf="! isMoveInProgress">
									<button aria-controls="menumore1" class="button button-primaryghost" [class.button-is-disabled]="email.primary"
									 (click)="clickConfirmRemove($event, email)" [disabled-when-requesting]="true">Remove
									</button>
								</li>
								<li class="menumoreitem">
									<button *ngIf="email.verified && !email.primary" class="button button-primaryghost" (click)="clickMakePrimary($event, email)">Make
										primary
									</button>
								</li>
								<li class="menumoreitem">
									<button *ngIf="!email.verified" class="button button-primaryghost" (click)="clickResendVerification($event, email)"
									 [disabled-when-requesting]="true">Re-send Verification
									</button>
								</li>
							</ul>
						</div>
						 
					</div>
				</div>
				 table body 
			</div>

			 Social Account Table 
			<header>
				<h2 class="title title-is-smallmobile">Linked Accounts</h2>
			</header>
			<p *ngIf="socialAccounts.length == 0">
				Click one of the provider buttons below to allow you to log in to {{configService.theme['serviceName'] || "Badgr"}}
				in the future using that service
				rather than your email and password.
			</p>
			<table class="table">
				<thead *ngIf="socialAccounts.length > 0">
					<tr>
						<th>Service</th>
						<th>Account</th>
						<th><span class="visuallyhidden">Actions</span></th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor="let account of socialAccounts">
						<td class="l-childrenhorizontal">
							{{ account.providerInfo.name }}
						</td>
						<td class="l-childrenhorizontal" style="overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
							{{ account.fullLabel }}
						</td>
						<td>
							<div class="l-childrenhorizontal l-childrenhorizontal-right l-childrenhorizontal-stackmobile">
								<button class="button button-primaryghost" (click)="unlinkAccount(account)" [disabled-when-requesting]="true">Unlink
								</button>
							</div>
						</td>
					</tr>
				</tbody>

				<tbody class="hidden hidden-is-tablet" *ngIf="sessionService.enabledExternalAuthProviders.length > 0">
					<td class="table-x-td" colspan="3">
						<section class="formfield">
							<label>Link an Account</label>

							<div class="formfield-x-buttongrid">
								<button *ngFor="let provider of sessionService.enabledExternalAuthProviders" class="buttonauth buttonauth-{{ provider.slug }}"
								 style="min-width: initial;" type="button" (click)="linkAccount(provider)">{{ provider.name }}
								</button>
							</div>
						</section>
					</td>
				</tbody>
			</table>
		</div>
	</div>
</ng-container>

-->