.menuitem {
  position: relative;

  a,
  button {
    appearance: none;
    box-sizing: border-box;
    display: block;
    font-size: var(--font-size-small1);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color $transition-duration / 2 $transition-easing,
                border-color $transition-duration / 2 $transition-easing,
                color $transition-duration / 2 $transition-easing;
  }

  button {
    position: relative;

    &::after {
      content: '';
      transform: rotate(45deg);
      height: 5px;
      width: 5px;
      border-right: 3px solid var(--color-primary);
      border-bottom: 3px solid var(--color-primary);
      display: inline-block;
      margin-left: 16px;
      margin-bottom: 3px;
    }
  }

  ul {
    display: none;
    z-index: $z-index-high;
  }

  &.menuitem-is-open {

    ul {
      display: block;
    }

  }

  @media (max-width: #{$media-tablet - 1px}) {
    a,
    button {
      border-top: 1px solid var(--color-light1-a12);
      color: var(--color-light1);
      padding: $gridspacing * 2;
      text-align: left;
      width: 100%;
    }

    button {
      cursor: pointer;
      padding-right: $gridspacing * 4 + 12px;
      position: relative;

    }

    &:hover,
    &.menuitem-is-active,
    &.menuitem-is-open {

      > a,
      > button {
        background-color: var(--color-light1);
        border-top: var(--border);
        color: var(--color-primary);
      }

    }

  }

  @media (min-width: $media-tablet) {

    a,
    button {
      color: var(--color-primary);
      padding: $gridspacing * 1.5 $gridspacing;

      &:hover {
        border-color: var(--color-primary);
      }

      &:active {
        background-color: var(--color-primary)-light;
        border-color: transparent;
      }

    }

    > a,
    > button {
      border: 1px solid transparent;
      border-radius: var(--border-radius);
    }

    > button {
      padding-right: 8px + $gridspacing * 2;
    }

    ul {
      @include dropdown;
      right: 0;
    }

    &.menuitem-is-active,
    &.menu-item-is-open {

      > a,
      > button {
        background-color: var(--color-primary)-light;
        border-color: transparent;
      }

    }

  }

}

.menuitem-secondary {
  position: relative;
  z-index: $z-index-med;

  @media (max-width: #{$media-tablet - 1px}) {

    > a {
      background-color: var(--color-light3);
      border-top: var(--border);
      color: var(--color-primary);

      &:hover {
        background-color: var(--color-primary);
        color: var(--color-light1);
      }

      &:active {
        background-color: var(--color-primary)-light;
        color: var(--color-primary);
      }

    }

  }

  @media (min-width: $media-tablet) {

    > a {
      border: 0;
      border-radius: 0;

      &:hover {
        background-color: var(--color-primary);
        border-top-color: transparent;
        color: var(--color-light1);
      }

      &:active {
        background-color: var(--color-primary)-light;
        color: var(--color-primary);
      }

    }

    &:first-of-type {

      > a {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }

    }

    &:last-of-type {

      > a {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }

    }

    &:not(:first-of-type) {

      > a {
        border-top: var(--border);
      }

    }

  }

}
