<main>
	<form-message></form-message>

	<header class="wrap wrap-light l-containerhorizontal l-heading">
		<nav>
			<h1 class="visuallyhidden">Breadcrumbs</h1>
			<ul class="breadcrumb">
				<li><a [routerLink]="['/recipient/badge-collections']">Collections</a></li>
				<li class="breadcrumb-x-current">{{ collection?.name || 'Loading...' }}</li>
			</ul>
		</nav>

		<div class="heading" *bgAwaitPromises="[ collectionLoadedPromise ]">
			<div class="heading-x-text">
				<ng-template [ngIf]="! editForm.isEditing">
					<h1>
						{{ collection.name }}
						<button class="heading-x-edit" type="button" (click)="editForm.startEditing()">Edit</button>
					</h1>
					<p [truncatedText]="collection.description" [maxLength]="100"></p>
					<a class="button button-primaryghost l-offsetleft" (click)="deleteCollection()" [disabled-when-requesting]="true">Delete Collection</a>
				</ng-template>

				<recipient-badge-collection-edit-form [badgeCollection]="collection" #editForm></recipient-badge-collection-edit-form>
			</div>

			<div class="heading-x-actions">
				<button class="button button-major"
								type="button"
								[class.button-is-disabled]="! collection.published"
								[disabled]="! collection.published"
								(click)="shareCollection()"
				>Share Collection</button>
				<input class="switch switch-bold" type="checkbox" id="collection-published-switch" [(ngModel)]="collectionPublished">
				<label for="collection-published-switch">
					<span class="switch-x-text">Your collection is </span>
					<span class="switch-x-toggletext">
						    <span class="switch-x-unchecked"><span class="switch-x-hiddenlabel">Unchecked: </span>Private</span>
						    <span class="switch-x-checked"><span class="switch-x-hiddenlabel">Checked: </span>Public</span>
						  </span>
				</label>
			</div>
		</div>
	</header>

	<section class="l-containerhorizontal l-containervertical l-childrenvertical wrap"
					 *bgAwaitPromises="[ collectionLoadedPromise ]"
	>
		<header class="l-childrenhorizontal l-childrenhorizontal-spacebetween l-childrenhorizontal-stackmobile">
			<h1 class="title">{{ badgesInCollectionCount }}</h1>
			<button class="button" type="button" (click)="manageBadges()">Add Badges</button>
		</header>

		<div class="l-overflowhorizontal">

			<table class="table">
				<thead>
				<tr>
					<th scope="col">Badge</th>
					<th class="hidden hidden-is-desktop" scope="col">Issuer</th>
					<th class="hidden hidden-is-desktop" scope="col">Awarded</th>
					<th class="hidden hidden-is-desktop" scope="col"><span class="visuallyhidden">Actions</span></th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let entry of collection.badgeEntries">
					<th>
						<a class="stack stack-list"
							 [routerLink]="['/recipient/earned-badge', entry.badge.slug]">
										<span class="stack-x-image">
											<img [loaded-src]="entry.badge.image"
													 [loading-src]="badgeLoadingImageUrl"
													 [error-src]="badgeFailedImageUrl"
													 [ngStyle]="entry.badge.isExpired && {'filter':'grayscale(1)'}"
													 width="40" />
										</span>
							<span class="stack-x-text">
											<span class="stack-x-title">
												<span *ngIf="entry.badge.mostRelevantStatus" class="u-margin-right1x status status-{{entry.badge.mostRelevantStatus}}">
													{{entry.badge.mostRelevantStatus}}
												</span>
												{{ entry.badge.badgeClass.name }}
											</span>
										</span>

						</a>
					</th>
					<td class="hidden hidden-is-desktop" >{{ entry.badge.badgeClass.issuer.name }}</td>
					<td class="hidden hidden-is-desktop" ><time [date]="entry.badge.issueDate" format="longDate"></time></td>
					<td class="hidden hidden-is-desktop">
						<div class="l-childrenhorizontal l-childrenhorizontal-small l-childrenhorizontal-right">
							<button class="button button-primaryghost" type="button" (click)="removeEntry(entry)" [disabled-when-requesting]="true">Remove</button>
						</div>
					</td>
				</tr>
				</tbody>
			</table>

		</div>

	</section>

	<recipient-badge-selection-dialog #recipientBadgeDialog></recipient-badge-selection-dialog>
</main>
